<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--企业号公用信息-->
    <add key="CorpId" value="wx6971a8ca707ecb70" />
    <!--企业号公用信息-->

    <!--企业微信开发 OAuth2.0验证借口配置（人事模块）-->
    <add key="Access_Token_3" value="" />
    <add key="Access_Token_3_Time" value="2018-01-01 00:00:00" />
    <!--企业微信开发接口配置通讯录接口-->

  </appSettings>
</configuration>